header.header-only-logo-wrapper {
  padding: 11px 0;
  height: initial;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #fff;
  transition: transform 0.2s linear;
  opacity: 1;
}

header.header-only-logo-wrapper p {
  margin: 0;
}

header.header-only-logo-wrapper .icon svg {
  width: 220px;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%)
  }

  100% {
    transform: translateY(0)
  }
}

.animated.slide-down {
  animation-name: slide-down
}

@keyframes slide-up {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(-100%)
  }
}

.animated.slide-up {
  animation-name: slide-up
}

.animated {
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 300ms;
  will-change: transform,opacity
}
