.columns > div {
  display: flex;
  flex-direction: column;
}

.columns h2 {
  margin-top: .5rem;
  margin-bottom: .625rem;
}

.columns img {
  max-height: min(calc(7vw - 1px), 100px);
  min-height: 40px;
  width: auto;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 2;
}

.columns > div > .columns-img-col img {
  display: block;
  max-height: none;
  width: 100%;
}

.columns.text-center > div {
  text-align: center;
}

.columns.teaser {
  background-color: #fff1d6;
  border-radius: 0.625rem;
  overflow: hidden;
}

.columns.teaser > div, .columns.gray > div {
  padding: 0;
}

.columns.teaser p a.button.primary {
  width: 100%;
}

.columns.teaser > div > .columns-img-col {
  order: 1;
}

.columns.teaser > div > div {
  font-size: 1rem;
  line-height: 1.5625rem;
}

.columns.teaser > div > div:last-child, .columns.gray > div > div:first-child {
  margin-bottom: 1.25rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.columns.teaser p.button-container, .columns.gray p.button-container {
  margin: 0;
}

.columns.teaser p.button-container a.buttonm, .columns.gray p.button-container a.button {
  margin: 0.3125rem auto;
}

.columns.gray p.button-container a.button {
  display: inline-block;
  border: 0.1875rem solid var(--text-color);
  background: var(--background-color);
  color: var(--text-color);
}

.columns.gray p.button-container a.button:hover {
  background: #d0dfe8;
}

.columns.teaser > div > div h3 {
  font-size: 1.3125rem;
  line-height: 1.938rem;
}

.columns.gray {
  background-color: #e7e9ea;
}

@media (min-width: 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > .columns-img-col {
    order: unset;
  }

  .columns h2 {
    text-align: left;
  }

  .columns.teaser > div > div:last-child, .columns.gray > div > div:first-child {
    padding: 3.125rem;
  }

  .columns.teaser > div > .columns-img-col {
    order: unset;
  }
}

/* About US page */
main .section.about-us-icons img  {
  min-height: 80px;
}

/* About Us Page | Connect and Care section */
@media screen and (width >= 768px) {
  div.connect-and-care > div > div:nth-of-type(2) {
    max-width: 35%;
  }

  .columns.connect-and-care div {
  align-items: flex-start;
  }

  div.connect-and-care > div:last-of-type > :nth-child(2) {
    position: relative;
    margin-top: -5em;
  }
}

@media screen and (width >= 1070px) {
  div.connect-and-care > div:last-of-type > :nth-child(2) {
    margin-top: 0;
  }
}

div.connect-and-care > div > :nth-child(2) {
  background-color: #e7e9ea;
  border-radius: 10px;
  padding: 15px 25px 0 25px;
  margin: 10px 0 10px 0;
}

div.connect-and-care > div > :nth-child(2) > :first-child {
  margin-top: 0;
}

div.connect-and-care > div > :nth-child(2) > :first-child img {
  object-fit: contain;
  max-width: 55%;
  height: auto;
}

div.connect-and-care h5  {
  margin-bottom: -0.5em;
}

.connect-and-care a[target=_blank]::after {
  display: inline-block;
  content: url('/icons/external-link.svg');
  width: 10px;
  height: 10px;
  padding-left: 5px;
  fill: white;
}

.connect-and-care .button-container {
  margin: 0 0;
}

.connect-and-care .button-container a {
  margin-top: 0;
}

.connect-and-care  a {
  width: 100%;
}
