.accordion details {
  border: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 16px;
}

.accordion details summary {
  color: var(--text-color);
  position: relative;
  padding: 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  color: var(--link-color);
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
}

.accordion.transfer-microchip-registration-faq details .accordion-item-body {
  background: white;
  color: black;
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--text-color);
}

.accordion-item p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.accordion sup {
  font-size: 0.75rem;
}

.accordion.transfer-microchip-registration-faq .accordion-item-label p {
  font-size: 1.5rem
}

.accordion.transfer-microchip-registration-faq .accordion-item-label {
  background: white;
  color: black;
  border-radius: 10px;
}

.accordion.transfer-microchip-registration-faq details[open] .accordion-item-label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion.transfer-microchip-registration-faq details[open] .accordion-item-body {
  border-top: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 0.5rem;
}
