header {
  height: var(--header-height);
}

/* header and nav layout */

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 100;
  position: fixed;
  /* stylelint-disable-next-line */
  box-shadow: 0px 106px 30px 0px rgba(194, 194, 194, 0), 0px 68px 27px 0px rgba(194, 194, 194, 0.01), 0px 38px 23px 0px rgba(194, 194, 194, 0.05), 0px 17px 17px 0px rgba(194, 194, 194, 0.09), 0px 4px 9px 0px rgba(194, 194, 194, 0.1);
  will-change: transform;
  transition: transform 0.2s linear;
}

header .nav-wrapper[aria-expanded="true"] {
  overflow-y: auto;
  min-height: 99vh;
}

/* @media (min-width: 1000px) {
  header .nav-wrapper {
    box-shadow: none;
  }
} */
/* stylelint-disable no-descending-specificity */

header nav {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  min-width: 215px;
  max-width: 1170px;
  height: var(--nav-height);
  padding: 0 30px 0 12px;
  font-family: var(--body-font-family);
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 44.5px;
    gap: 0;
  }

  header .nav-wrapper[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
}

/* mega-nav */
header .nav-meganav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  /* stylelint-disable-next-line */
  flex-wrap: nowrap;
  position: relative;
  cursor: pointer;
}

header nav .nav-meganav .mega-nav {
  display: flex;
  width: 100%;
  padding: 16px, 48px;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.active {
  font-weight: 700 !important;
}

header nav .nav-meganav .mega-nav > div {
  font-family: var(--heading-font-family);

  /* font-weight: var(--nav-font-weight); */
}

#meganav-link-1 > div:first-child,
#meganav-link-4 > div:first-child {
  position: relative;
  display: flex;
  gap: 5px;
}

.before-click::after {
  content: url("/icons/arrow-down.svg");
  transform: rotate(180deg);
}

.after-click::after {
  content: url("/icons/arrow-down.svg");
}

/* login section */
.nav-meganav .login > div > div:first-child {
  /* margin-left: 175px; */
  width: 60px;
  font-family: var(--heading-font-family);

  /* font-weight: var(--nav-font-weight); */
}

.nav-meganav .login > div > div:last-child {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 232px;
  top: 65px;
  right: 90px;
  padding: 16px 8px;
  border-radius: 8px;
  border: 1px solid var(--nav-content-background-color);
  background: var(--background-color);
  /* stylelint-disable-next-line */
  box-shadow: 0px 144px 40px 0px rgba(0, 0, 0, 0), 0px 92px 37px 0px rgba(0, 0, 0, 0.01), 0px 52px 31px 0px rgba(0, 0, 0, 0.05), 0px 23px 23px 0px rgba(0, 0, 0, 0.09), 0px 6px 13px 0px rgba(0, 0, 0, 0.1);
}

.nav-meganav .login > div > div:last-child p {
  margin: 12px;
  cursor: pointer;
}

/* set display to block on hover */

/* .nav-meganav .login:hover > div > div:last-child {
  display: block;
} */

.nav-meganav .login > div > div:last-child p:hover {
  text-decoration: underline;
}

/* nav-memberships on hover */

.header .nav-memberships,
.header .nav-register {
  position: absolute;
  background-color: var(--background-color);
  display: none;
  width: 100%;
  z-index: -100;
  /* stylelint-disable-next-line */
  box-shadow: 0px 144px 40px 0px rgba(0, 0, 0, 0), 0px 92px 37px 0px rgba(0, 0, 0, 0.01), inset 0px 20px 26px 0px rgba(0, 0, 0, 0.05), 0px 23px 23px 0px rgba(0, 0, 0, 0.09), 0px 6px 13px 0px rgba(0, 0, 0, 0.1);
}

.header .nav-memberships .pet-protection-memberships,
.header .nav-register .microchip-registration {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  /* stylelint-disable-next-line */
  flex-wrap: wrap;
  padding: 48px;
  width: 75%;
}

.header .nav-memberships .pet-protection-memberships > div,
.header .nav-register .microchip-registration > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex: 0 0 49%;
}

.header .nav-memberships .pet-protection-memberships > div:first-child,
.header .nav-register .microchip-registration > div:first-child {
  margin-top: 0;
  margin-bottom: 0;
  flex: 0 1 100%;
  justify-content: flex-start;
  color: #828688;
  font-family: var(--heading-font-family);
  font-size: 21px;
  font-style: normal;
  font-weight: 350;
  line-height: 36px; /* 171.429% */
}

.header
  .nav-memberships
  .pet-protection-memberships
  > div
  > div:first-child
  > picture
  > img,
.header
  .nav-register
  .microchip-registration
  > div
  > div:first-child
  > picture
  > img {
  width: 52px;
  height: 52px;
}

.header
  .nav-memberships
  .pet-protection-memberships
  > div:not(:first-child)
  > div:first-child
  > picture
  > img {
  width: 62px;
  height: 62px;
}

.header
  .nav-memberships
  .pet-protection-memberships
  > div
  > div:last-child
  > p:first-child,
.header
  .nav-register
  .microchip-registration
  > div
  > div:last-child
  > p:first-child {
  margin: 0;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-s);
  font-style: normal;
  font-weight: var(--heading-font-weight);
}

.header .nav-memberships .pet-protection-memberships > div > div:last-child > p,
.header .nav-register .microchip-registration > div > div:last-child > p {
  margin: 0;
  font-weight: var(--nav-font-weight);
  font-family: var(--body-font-family);
  font-style: normal;
  line-height: 24px;
}

.header
  .nav-memberships
  .pet-protection-memberships
  > div:not(:first-child)
  > div:last-child:hover,
.header
  .nav-register
  .microchip-registration
  > div:not(:first-child)
  > div:last-child:hover {
  color: var(--button-primary-color);
}

.header
  .nav-memberships
  .pet-protection-memberships
  > div
  > div:last-child:hover
  > p:first-child {
  text-decoration: underline;
}

.header
  .nav-memberships
  .pet-protection-memberships
  > div
  > div:last-child
  > p:first-child
  a,
.header
  .nav-register
  .microchip-registration
  > div
  > div:last-child
  > p:first-child
  a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: var(--heading-font-weight);
  line-height: normal;
}

.header
  .nav-register
  .microchip-registration
  > div:not(:last-child)
  > div:last-child
  > p:first-child
  a::after {
  display: inline-block;
  content: url("/icons/share-black.svg");
  width: 10px;
  height: 10px;
  padding-left: 10px;
}

.header
  .nav-memberships
  .pet-protection-memberships
  > div
  > div:last-child:hover
  > p:first-child
  a,
.header
  .nav-register
  .microchip-registration
  > div
  > div:last-child:hover
  > p:first-child
  a {
  color: var(--button-primary-color);
  text-decoration: underline;
}

.header
  .nav-register
  .microchip-registration
  > div:not(:last-child)
  > div:last-child:hover
  > p:first-child
  a::after {
  content: url("/icons/share-red.svg");
}

.header .nav-memberships .featured-content,
.header .nav-register .featured-content {
  background-color: #fff1d6;
  padding: 48px;
  width: 25%;
}

.header .nav-memberships .featured-content > div > div,
.header .nav-register .featured-content > div > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header .nav-memberships .featured-content > div > div img,
.header .nav-register .featured-content > div > div img {
  width: 300px;
  height: 160px;
}

.header .featured-content > div > div > p {
  margin: 0;
}

.header .featured-content > div > div > p:first-child {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-s);
  font-style: normal;
  font-weight: 700;
}

.header .featured-content > div > div > p:last-child > a {
  color: var(--button-primary-color);
  cursor: pointer;
  text-decoration: none;
}

.header .featured-content > div > div > p:last-child > a::after {
  content: url("/icons/red-arrow-right.svg");
  margin-left: 5px;
}

.header .featured-content > div > div > p:last-child:hover > a {
  text-decoration: underline;
}

/* Get-Started btn */

/* header nav .nav-login p {
  display: flex;
  color: #fff;
  padding: 14px 26px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: var(--button-primary-color);
} */

/* hamburger */

header nav .nav-hamburger {
  order: 3;
  display: flex;
  justify-content: center;
  margin-left: 14px;
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
  }

  .nav-meganav .login > div > div:first-child {
    margin-left: 130px;
  }
}

header nav .nav-hamburger button {
  position: relative;
  width: 26px;
  height: 26px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger button > span {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 1;
  background-color: black;
  height: 4px;
  border-radius: 9px;
}

header nav .nav-hamburger button > span:first-child {
  top: 0;
}

header nav .nav-hamburger button > span:nth-child(2) {
  top: 0.875rem;
  transition: 0.25s ease-in-out;
}

header nav .nav-hamburger button > span:nth-child(3) {
  top: 1.75rem;
  transition: 0.25s ease-in-out;
}

header nav[aria-expanded="true"] .nav-hamburger button > span:first-child {
  width: 0;
}

header nav[aria-expanded="true"] .nav-hamburger button > span:nth-child(2) {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 45deg;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;

  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  top: 0.875rem;
}

header nav[aria-expanded="true"] .nav-hamburger button > span:nth-child(3) {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: -45deg;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;

  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  top: 0.875rem;
}

/* brand */
header .nav-brand {
  /* order: 1; */
  flex-basis: 1px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  flex-grow: 1;
  height: var(--nav-height);
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  header nav .nav-brand {
    /* order: 1; */
  }
}

@media (min-width: 400px) {
  header .nav-brand {
    flex-basis: 128px;
  }
}

header nav .nav-brand .icon {
  width: 100%;
  height: auto;
  max-width: 228px;
}

@media (min-width: 900px) and (max-width: 1150px) {
  header nav .nav-brand .icon {
    max-width: 180px;
  }
}

@media (min-width: 1300px) {
  header nav .nav-brand {
    flex-grow: unset;
    min-width: 208px;
  }
}

/* sections */

/* header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  margin: 0;
}

header nav .nav-sections > ul > li {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.938rem;
  border-bottom: 1px solid var(--nav-secondary-color);
  align-items: center;
  white-space: nowrap;
  margin: auto 0;
}

header nav .nav-sections ul > li[aria-expanded="true"] {
  background-color: var(--background-color-secondary);
}

header nav .nav-sections ul > li > p > a {
  display: inline-block;
  text-decoration: none;

}

@media only screen and (max-width: 600px) {
  header nav .nav-sections ul > li > p > a {
    display: inline-block;
    text-decoration: none;
    padding: 13px 22px;
    white-space: nowrap;
  }
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
  display: none;
  background-color: white;
}

header nav .nav-sections ul > li[aria-expanded="true"] > ul {
  display: block;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
  font-size: 1rem;
  padding: 6px 36px;
  width: auto;
}

header nav .nav-sections > ul > li:last-child {
  white-space: normal;
}
 */
header nav .nav-sections ul > li > ul > li > a {
  /* padding: 6px 36px; */
}

/* header nav .nav-sections .nav-drop {
  position: relative;
  cursor: pointer;
  user-select: none;
}

header nav .nav-sections .nav-drop::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 2pc;
  transform: rotate(135deg);
  width: 5px;
  height: 5px;
  border-style: solid;
  border-color: currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 1.5px 1.5px 0 0;
  transition: 0.2s;
}

header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
  transform: rotate(315deg);
  top: 28px;
}

header nav .nav-sections .nav-drop a.icon-arrow {
  display: none;
}

header nav .nav-sections .nav-drop[aria-expanded="true"] a.icon-arrow {
  display: none;
}

@media (min-width: 768px) {
  header nav .nav-sections {
    order: 2;
    display: block;
    visibility: visible;
    min-width: unset;
    max-width: 485px;
    margin: 0;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
    margin: 0;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 0;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0;
    padding-right: 2rem;
    border: none;
  }

  header nav .nav-sections ul > li[aria-expanded="true"] {
    background-color: white;
  }

  header nav .nav-sections > ul > li > a {
    padding: 0;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: white;
    min-width: 220px;
    // stylelint-disable-next-line
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.22);
    overflow: visible;
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 9px 20px;
    font-size: 0.875rem;
  }

  header nav .nav-sections > ul > li > ul > li > a {
    padding: 0;
    white-space: nowrap;
  }

  header nav .nav-sections .nav-drop::after {
    display: none;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    display: none;
  }

  header nav .nav-sections .nav-drop a.icon-arrow {
    content: '';
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 20px;
    transform: rotate(135deg);
    width: 5px;
    height: 5px;
    border-style: solid;
    border-color: currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 1.5px 1.5px 0 0;
    transition: 0.2s;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"] a.icon-arrow {
    display: inline-block;
    transform: rotate(315deg);
    top: 16px;
  }
}

@media (min-width: 1000px) {
  header nav .nav-sections {
    max-width: 728px;
  }

  header nav .nav-sections > ul > li {
    font-weight: 500;
    font-size: 1.208rem;
    line-height: 1.938rem;
    padding: 0;
    padding-right: 2rem;
    border: none;
  }
}

@media (min-width: 1300px) {
  header nav .nav-sections {
    min-width: 818px;
  }

  header nav .nav-sections > ul > li {
    margin-right: 1.5rem;
  } 
} */

/* get-quote */

/* header nav .nav-get-quote {
  order: 2;
  width: 112px;
}

header nav .nav-get-quote .button-container > strong > a {
  grid-area: get-quote;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .75rem;
  font-weight: 700;
  padding: 1.157rem 0;
}

@media (min-width: 768px) {
  header nav .nav-get-quote {
    order: 3;
    width: 144px;
    margin-left: 8px;
  }

  header nav .nav-get-quote .button-container > strong > a {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    white-space: nowrap;
  }
}

@media (min-width: 1300px) {
  header nav .nav-get-quote {
    margin: 0;
  }
} */

/* secondary nav */

header nav .nav-secondary {
  order: 4;
  display: none;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  visibility: hidden;
}

header nav[aria-expanded="true"] .nav-secondary {
  visibility: visible;
}

header nav > .nav-secondary > ul {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  max-width: 1170px;
  margin: 0 auto;
}

header nav > .nav-secondary > ul > li {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--background-color-secondary);
  padding: 10px;
  border-bottom: 1px solid white;
  text-align: center;
  font-weight: 300;
}

header nav > .nav-secondary > ul > li:last-child {
  flex-direction: row-reverse;
  gap: 5px;
  align-items: baseline;
  cursor: pointer;
  text-decoration: underline;
}

header nav > .nav-secondary > ul > li:last-child:hover {
  text-decoration: underline;
}

header nav > .nav-secondary > ul > li:last-child::after {
  content: url("/icons/location.svg");
  float: left;
}

@media (min-width: 900px) {
  header nav .nav-secondary {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--background-color-secondary);
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    visibility: visible;
  }

  header nav[aria-expanded="true"] .nav-secondary {
    margin: 0;
    display: flex;
    visibility: visible;
    align-self: start;
  }

  header nav > .nav-secondary > ul {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: end;
  }

  header nav > .nav-secondary > ul > li {
    border: none;
    padding: 0 0.75rem;
    line-height: 1.5625rem;
  }
}

header nav > .nav-secondary .language-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

header nav > .nav-secondary .language-selector[aria-expanded="true"] {
  background-color: white;
}

header nav > .nav-secondary .language-selector > span {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: end;
  text-decoration: underline;
}

header nav > .nav-secondary .language-selector > span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 40px;
  transform: rotate(135deg);
  width: 5px;
  height: 5px;
  border-style: solid;
  border-radius: 0 1px 0 0;
  border-width: 1.5px 1.5px 0 0;
}

header
  nav
  > .nav-secondary
  .language-selector[aria-expanded="true"]
  > span::after {
  transform: rotate(315deg);
  top: 10px;
}

header nav > .nav-secondary .language-selector span.icon {
  width: 30px;
}

header nav > .nav-secondary .language-selector > ul {
  display: none;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

header nav > .nav-secondary .language-selector[aria-expanded="true"] > ul {
  /* background-color: var(--background-color-secondary); */
  display: flex;
  justify-content: start;
}

header nav > .nav-secondary .language-selector > ul > li {
  list-style-type: none;
  padding: 10px;
  white-space: nowrap;
}

header nav > .nav-secondary .language-selector > ul > li > a {
  color: var(--link-color);
  font-size: 0.875rem;
  text-decoration: none;
  font-family: var(--body-font-family);
  line-height: 1.5625rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 900px) {
  header nav > .nav-secondary .language-selector[aria-expanded="true"] {
    background-color: var(--background-color-secondary);
    position: relative;
  }

  header nav > .nav-secondary .language-selector[aria-expanded="true"] > ul {
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    left: 8px;
    top: 16px;
    background: white;
    /* stylelint-disable-next-line */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
    width: 100pt;
    justify-content: center;
  }
}

/* animations */

/* @keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.nav-wrapper.slide-up {
  animation-name: slide-up;
  transform: translateY(-100%);
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.nav-wrapper.slide-down {
  animation-name: slide-down;
  transform: translateY(0);
} */

.icon-external::after {
  display: inline-block;
  content: url("/blog/fragments/external-link-icon.svg");
  width: 10px;
  height: 10px;
  padding-left: 10px;
}

/* breadcrumbs */
main .breadcrumbs {
  font-family: var(--heading-font-family);
  display: block;
  padding: 0 32px;
  width: 100%;
  height: auto;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  font-size: inherit;
}

main .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
}

main .breadcrumbs ol li {
  padding-inline-start: 0;
  font-size: .75rem;
}

main .breadcrumbs ol li:not(:last-child)::after {
  content: ">";
  padding-left: 1ch;
  opacity: 0.7;
}

main .breadcrumbs ol li a:any-link {
  color: var(--text-color);
  text-decoration: none;
}

main .breadcrumbs ol li:last-of-type {
  opacity: 1;
}

@media screen and (width >= 900px) {
  main .breadcrumbs {
    display: block;
  }
}

@media (width >= 768px) {
  main .breadcrumbs ol li {
    font-size: 1rem;
  }
}

/* mobile view */

@media (max-width: 900px) {
  header nav {
    padding: 0;
    border-bottom: 1px solid var(--border-color);
  }

  header nav .nav-brand {
    flex-basis: 1px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
    flex-grow: 1;
    height: var(--nav-height);
    align-items: center;
    display: flex;
    padding: 0 16px;
  }

  header nav .nav-brand p:first-child {
    flex-basis: 80%;
  }

  header .nav-wrapper {
    overflow-x: hidden;
  }

  header .nav-wrapper[aria-expanded="true"] {
    /* overflow-y: ; */
    min-height: 100vh;
  }

  header nav[aria-expanded="true"] .nav-meganav {
    display: flex;
    visibility: visible;
  }

  header nav .nav-secondary {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: block;
    height: 190px;
    z-index: -1;
  }

  header nav .nav-secondary ul > li {
    justify-content: center;
    background-color: unset !important;
  }

  header .button-container {
    line-height: 1;
  }

  header .button-container a {
    font-size: 12px;
  }

  header nav .nav-meganav {
    order: 4;
    grid-area: sections;
    display: none;
    visibility: hidden;
    min-width: 100%;
    flex-direction: column;
    background-color: var(--background-color);
    flex: 1 0 100%;
    gap: 0;
    margin-top: -10px;
  }

  header nav .nav-meganav .mega-nav {
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 0;
  }

  .login {
    width: 100%;
  }

  .login > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
  }

  .login > div > div:first-child {
    width: 90% !important;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
  }

  .nav-meganav .login > div > div:last-child {
    display: none;
    position: unset;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
    max-height: fit-content;
    border-top: 1px solid var(--border-color);
    background: var(--nav-content-background-color);
    gap: 24px;
    padding: 16px;
    box-shadow: none;
  }

  .nav-meganav .login > div > div:last-child > p {
    margin: 0;
  }

  header nav > .nav-secondary .language-selector {
    padding-left: 80px;
    width: 60%;
    margin: 0 auto;
  }

  #country-name {
    margin-left: 5px;
    white-space: nowrap;
  }

  header nav .nav-meganav .mega-nav > div {
    width: 100%;
    min-height: 50px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header
    .nav-memberships
    .pet-protection-memberships
    > div
    > div:last-child
    > p:first-child,
  .header
    .nav-register
    .microchip-registration
    > div
    > div:last-child
    > p:first-child {
    margin-bottom: 5px;
    font-size: var(--body-font-size-s);
  }

  .header
    .nav-memberships
    .pet-protection-memberships
    > div
    > div
    > picture
    > img,
  .header .nav-register .microchip-registration > div > div > picture > img {
    width: 40px !important;
    height: 40px !important;
  }

  header nav .nav-meganav .mega-nav > div > div:first-child {
    padding: 12px 24px;
  }

  #meganav-link-1,
  #meganav-link-4 {
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #meganav-link-1 > div:first-child,
  #meganav-link-4 > div:first-child {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  #meganav-link-1 > div:last-child,
  #meganav-link-4 > div:last-child {
    position: unset;
    flex-direction: column;
    gap: 5px;
  }

  .nav-memberships .pet-protection-memberships > div:first-child,
  .nav-register .microchip-registration > div:first-child {
    display: none;
  }

  .header .nav-memberships .pet-protection-memberships > div,
  .header .nav-register .microchip-registration > div {
    width: 100%;
  }

  .header .nav-memberships .pet-protection-memberships,
  .header .nav-register .microchip-registration {
    flex-direction: column;
    padding: 16px;
    max-height: fit-content;
    border-top: 1px solid var(--border-color);
    background: var(--nav-content-background-color);
    gap: 24px;
    width: unset;
  }

  .header .nav-memberships,
  .header .nav-register {
    display: none;
    position: unset;
    z-index: 1;
    padding: 0 !important;
    box-shadow: none;
  }

  .header .featured-content {
    display: none;
  }
}
